{% extends "AperoEventBundle::layout.html.twig" %}

{% block title %}
  Ajouter un Bar - {{ parent() }}
{% endblock %}

{% block AperoEvent_body %}

  <h3>Nouveau Bar</h3>

  <div>
    {{ form(form) }}
  </div>

  <div>
    <a href="{{ path('apero_bar_homepage') }}">Retour à la liste</a>
  </div>

{% endblock %}