{% extends "AperoEventBundle::layout.html.twig" %}

{% block title %}
  Modifier un Bar - {{ parent() }}
{% endblock %}

{% block AperoEvent_body %}

	<h3>Modification du Bar {{ bar.nom }}</h3>

  <div class='formE'>
    {{ form(form) }}
    <br /><br />
    <a href="{{ path('apero_bar_homepage') }}"><button>Retour à la liste</button></a>
  </div>

{% endblock %}