{% extends "AperoEventBundle::layout.html.twig" %}

{% block title %}
  Modifier un Evènement - {{ parent() }}
{% endblock %}

{% block AperoEvent_body %}

	<h3>Modification de l'Evènement {{ event.name }}</h3>

	<div>
    	{{ form(form) }}
	</div>

	<div>
		<a href="{{ path('apero_event_homepage') }}">Retour à la liste</a>
	</div>

{% endblock %}