<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>{% block title %}OC Plateforme{% endblock %}</title>

  {% block stylesheets %}
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
  {% endblock %}
</head>

<body>
    <h1>Apéros</h1>

    <div>
        {% block body %}
        {% endblock %}
    </div>

</body>
</html>