{% extends "AperoUserBundle::layout.html.twig" %}

{% block title %}
	Utilisateurs et roles - {{ parent() }}
{% endblock %}

{% block body %}

    <h3>Votre Profil</h3>

    {% block fos_user_content %}
        {% include "FOSUserBundle:Profile:show_content.html.twig" %}
        <div>
            <a href="{{ path('fos_user_profile_edit') }}"><button>Modifier le profil</button></a>
            <a href="{{ path('fos_user_change_password') }}"><button>Modifier le mot de passe</button></a>
            <a href="{{ path('apero_event_homepage') }}"><button>Retour aux évènements</button></a>
        </div>
    {% endblock fos_user_content %}    

{% endblock %}