{% extends "::layout.html.twig" %}

{% block title %}
  Mes Apéros - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Mes Apéros</h2>

  {% block AperoEvent_body %}
  {% endblock %}

{% endblock %}