{% extends "::layout.html.twig" %}

{% block title %}
	Utilisateur - {{ parent() }}
{% endblock %}

{% block body %}

	{% block fos_user_content %}
	{% endblock fos_user_content %}

	<div>
		<a href="{{ path('apero_event_homepage') }}">Accéder à la liste</a>
	</div>

{% endblock %}