{% extends "::layout.html.twig" %}

{% block title %}
	Utilisateur - {{ parent() }}
{% endblock %}

{% block body %}

	{% block fos_user_content %}
	{% endblock fos_user_content %}
	
	{% if (is_granted('ROLE_ADMIN')) %}
		<div>
			<a href="{{ path('apero_event_homepage') }}">Accéder à la liste</a>
		</div>
	{% endif %}

	<div><a href="{{ path('fos_user_registration_register') }}">Créer un nouveau compte</a>

{% endblock %}
