{% extends "::layout.html.twig" %}

{% block title %}
	Utilisateur - {{ parent() }}
{% endblock %}

{% block body %}

	{% block fos_user_content %}
	{% endblock fos_user_content %}
	
	{% if not is_granted("ROLE_VALIDATE") %}
		<div><a href="{{ path('fos_user_registration_register') }}">Créer un nouveau compte</a></div>
	{% endif %}

{% endblock %}
