{% extends "AperoUserBundle::layout.html.twig" %}

{% block title %}
	Utilisateurs non validé - {{ parent() }}
{% endblock %}

{% block body %}

  <h3>Réservé aux Administrateurs</h3>

  <p>
    Bonjour, cette section est réservée aux Administrteurs. Vous ne disposez pas des droits suffisants pour y accéder.
  </p>	

{% endblock %}