{% extends "AperoUserBundle::layout.html.twig" %}

{% block title %}
	Utilisateurs non validé - {{ parent() }}
{% endblock %}

{% block body %}

  <h3>Validation en attente</h3>

  <p>
    Bonjour, vous vous êtes bien inscrit à l'application. Votre compte est en attente de validation par les administrateurs.
    Merci de patienter.
  </p>	

{% endblock %}